<div class="main-container">

  <div class="event-date-container" id="show-infos">
    <p>+ d'infos</p>
  </div>

  <div class="event-infos hide-infos" id="infos-container">
    <p class="date">13 septembre 2019</p>
    <p class="hour">environ vers 20h</p>
    <p class="address">5807 St Urbain</p>
  </div>

  <div class="infos-content">

    <h1 class="logo-title">vin</h1>
    <p class="tagline">(mais c'est le treize)</p>

    <div class="event-description">
      <p>vin, c’est quoi ? écoutez, ce n’est qu’un prétexte pour boire du vin et pour manger des chips au poivre et à la lime.</p>
      <p>plus précisément, on a besoin d’aide pour choisir les vins qu’on boira au mariage :  qui de mieux que vous, qui allez probablement finir bourrés le 19 octobre avec ces mêmes vins, pour nous aider à les choisir.</p>
      <p>du coup, voilà globalement le  concept de la  soirée : on a une petite liste de vins qu’on voudrait tester. l’idée est que chacun d’entre vous apporte une bouteille (pas de panique, tout est à moins de 20 $) + éventuellement un(des) petit(s) truc(s) à grignoter. </p>
      <p>pour éviter les doublons - et parce que Cam ne peut pas s’empêcher de construire des sites web pour tout et n’importe quoi, vous n’avez qu’à indiquer ci dessous le  vin que vous compter apporter !</p>
      <p class="small-text">(et c'est aussi l'anniversaire de Cam.)</p>
    </div>

  </div>
  <!-- enf of infos-content -->


  <div class="show-more-container" id="slide-up-animation">
    <div class="show-more-btn-container">
      <p class="show-more uppercased-thin"></p>
    </div>
    <div class="wine-cards">
      <!-- starting  iterating over all the wines -->
      <% @wines.each do |wine| %>
        <div class="wine-card">
          <div class="wine-avatar">
            <% if wine.user_wines.any? %>
            <p class="wine-user"><%= wine.user_wines.first.user.name %></p>
              <%= image_tag wine.user_wines.first.user.avatar, alt: "avatar", class: "small-avatar" %>
            <% else %>
              <%#= link_to 'apporter ce vin', new_wine_user_wine_path(wine), class: 'wine-user-link' %>
              <p data-modal="#wine-<%= wine.id %>" class="open-modal-btn uppercased-thin">j'apporte ce vin</p>

            <% end %>
          </div>
          <a href="<%= wine.link %>" target="_blank" rel="noreferrer noopener"><h3 class="wine-name"><%= wine.name %></h3></a>
          <p class="wine-description">
            <%= wine.description%>
          </p>

          <div class="wine-footer">
            <p class="accent-font wine-associations">à manger avec : <%= wine.accords %></p>
            <div class="wine-tags">
              <% wine.tags.each do |tag| %>
                  <div class="wine-tag"><p><%= tag.name %></p></div>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
      <!-- end of iteration over all the wines -->

      <!-- surprise wine card -->
      <div class="surprise-wine-card">
        <p class="wine-description">
          je connais un vin trop bon mais qui n’est pas la liste et j’ai trop envie de vous le faire découvrir.
        </p>
        <div class="wine-avatar">
            <p data-modal="#surprise-wine" class="open-modal-btn uppercased-thin">ajouter un vin</p>
        </div>
      </div>
      <!-- end of surprise wine card -->


    </div>

  </div>

</div>

<!-- modal for new user_wine instance -->

<% @wines.each do |wine| %>

  <div class="modal hide-modal" id="wine-<%= wine.id %>">
    <p id='close'>close</p>

    <div class="modal-content">

      <p class="wine-name"><%= wine.name %></p>

      <p class="user-label">qui êtes-vous ?</p>

      <%= simple_form_for([wine, @user_wine]) do |f| %>
        <%= f.association :user, collection: User.all, prompt: "choisissez-vous dans la liste", label: false, input_html: {class: 'js-example-basic-single'} %>
        <%= f.submit "apporter ce vin", class: "button button-fullwidth button-yellow" %>
      <% end %>

    </div>

  </div>

<% end %>


<!-- modal for new wine element instance -->

<div class="modal hide-modal" id="surprise-wine">

  <p id='close'>close</p>

  <%= form_with(url: "/wines", method: "post", local: true, class: "new-wine") do %>
    <div class="form-row">
      <div class="form-group">
        <%= label_tag(:wine_name, "nom du vin :") %>
        <%= text_field_tag(:wine_name) %>
      </div>
      <div class="form-group">
        <%= label_tag(:wine_tag, "type de vin :") %>
         <%= select_tag(:wine_tag, options_for_select(Tag.all.map { |u| u.name}, "name"))  %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:wine_accord, "accords suggérés :") %>
      <%= text_field_tag(:wine_accord) %>
    </div>
    <div class="form-group">
      <%= label_tag(:wine_user, "qui êtes-vous :") %>
      <%= select_tag(:wine_user, options_for_select(User.all.map { |u| u.name}, "name"))  %>
    </div>
    <%= submit_tag("ajouter un vin", class: "button button-yellow") %>
  <% end %>

</div>



